.album-list-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 350px;
}

.album-item {
    @apply bg-accent;
    width: 100%;
    height: 80px;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album-item label {
    width: 250px;
}

.album-item.selected {
    @apply bg-mysecondary
}

.delete-btn {
    width: 30px;
    height: 30px;
}

.delete-btn:hover {
    transform: scale(1.1);

}